<!-- LG SIZE 背景圖 -->
<div
  class="hidden lg:block lg:fixed h-dvh lg:w-[calc(50dvw+117px)] bg-[url('assets/images/login_bg_phone.svg')] bg-cover"
></div>

<div class="flex items-center justify-center w-dvw h-dvh lg:w-[1280px] lg:mx-auto">
  <div
    class="w-full grow h-full bg-[url('assets/images/login_bg_phone.svg')] bg-cover lg:bg-none"
  ></div>
  <!-- 主白色區塊 -->
  <div class="p-64">
    <div class="shrink-0 w-[343px] flex flex-col justify-center gap-y-24">
      <div>
        <!-- LOGO -->
        <h1 class="text-24 text-font-blue font-600 text-center">安聯e智慧</h1>
      </div>

      <div class="flex flex-col w-full gap-16">
        <div class="flex items-center">
          <span class="w-fit text-20">帳號</span>
          <input class="grow" />
        </div>
        <div class="flex items-center">
          <span class="w-fit text-20">密碼</span>
          <input class="grow" />
        </div>
      </div>

      <button class="w-full bg-btn-blue text-white leading-40 font-20 rounded-4">登入</button>

      <button class="underline text-20 text-font-blue">忘記密碼？</button>
    </div>
    <p class="mt-64 w-full text-center">--版本：--</p>
  </div>
</div>
